.u-section-1 .u-sheet-1 {
  min-height: 497px;
}

.u-section-1 .u-text-1 {
  margin: 13px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 36px auto 0 284px;
}

.u-section-1 .u-text-3 {
  margin: -43px 332px 0 auto;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  background-image: none;
  margin: 0 auto 0 225px;
  padding: 0 57px;
}

.u-section-1 .u-icon-1 {
  font-size: 11.5em;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  background-image: none;
  margin: -294px 240px 60px auto;
  padding: 0 57px;
}

.u-section-1 .u-icon-2 {
  font-size: 11.5em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-right: 274px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 25px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 218px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 210px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 164px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 158px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-left: 103px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 99px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 14px;
  }
}

