.u-section-1 .u-sheet-1 {
  min-height: 534px;
}

.u-section-1 .u-text-1 {
  margin: 16px 273px 0 385px;
}

.u-section-1 .u-form-1 {
  height: 630px;
  --thumb-color: #2cccc4;
  --thumb-hover-color: #72efe9;
  --track-color: #c0c0c0;
  --track-active-color: #2cccc4;
  width: 589px;
  margin: 0 auto;
}

.u-section-1 .u-input-1 {
  height: 35px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  height: 35px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  height: 35px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  height: 35px;
}

.u-section-1 .u-form-group-6 {
  --progress: 0%;
}

.u-section-1 .u-input-6 {
  height: 35px;
}

.u-section-1 .u-form-group-7 {
  --progress: 0%;
}

.u-section-1 .u-input-7 {
  height: 35px;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-input-8 {
  height: 35px;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-input-9 {
  height: 35px;
}

.u-section-1 .u-label-10 {
  width: 100px;
}

.u-section-1 .u-btn-1 {
  --radius: 5px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  --radius: 5px;
  margin: -67px 289px 15px auto;
  padding: 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 353px;
    margin-left: 285px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -45px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 26px;
    margin-right: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 270px;
    margin-left: 175px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 203px;
    margin-left: 58px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 128px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: 160px;
    width: 340px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -306px;
  }
}